In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('DPDL Mumbai U15 Players Scouting  - Sheet1.csv')

In [12]:
df.shape

(326, 91)

In [10]:
col_list = []
for col in df.columns:
    new_col = col.lower()
    new_col = new_col.replace(' ', '_')
    col_list.append(new_col)

In [13]:
len(col_list)

91

In [14]:
df.columns = col_list

In [15]:
df.head()

,user_id,user_name,team_name,preferred_position,preferred_position_most_played,jersey_number,total_game_time,succ_interceptions,succ_interceptions_per_90,total_possession_retained,...,goal_conceded,goalkick_accuracy,goalkeeper_throws_completed,handling,punches,clearances,successful_ball_carry_per_90,ball_carry_accuracy,goals_from_headed_shot,goals_from_headed_shot_per_90
0,16769,TSA No. 23,The Soccer Academy U15,"['CENTRAL MIDFIELDER', 'RIGHT SIDE BACK']",CENTRAL MIDFIELDER,['23'],130,1,0.692308,2,...,0,0.0,0,0,0,12,0.692308,100,0,0.0
1,16770,TSA No 31,The Soccer Academy U15,"['GOALKEEPER', 'CENTER BACK']",GOALKEEPER,['31'],95,0,0.000000,3,...,5,0.0,2,4,5,0,0.000000,0,0,0.0
2,16771,TSA NO 3,The Soccer Academy U15,['LEFT SIDE BACK'],LEFT SIDE BACK,['3'],60,0,0.000000,7,...,0,0.0,0,0,0,0,10.500000,100,0,0.0
3,16772,TSA NO 1,The Soccer Academy U15,['CENTRAL MIDFIELDER'],CENTRAL MIDFIELDER,['1'],60,0,0.000000,2,...,0,0.0,0,0,0,0,4.500000,100,0,0.0
4,16773,TSA NO 14,The Soccer Academy U15,"['CENTER BACK', 'LEFT SIDE BACK']",CENTER BACK,"['14', '114']",120,2,1.500000,9,...,0,0.0,0,0,0,10,1.500000,100,0,0.0

In [17]:
df.to_csv('columns_edited_dpdl.csv', index=False)